.content
	

.content-wrapper
	height: 90vh;
	display: flex;


.content-left-block
	flex: 1 1 50%
	display: grid;
	grid-template-areas: "binary js" "binary js" "qa js" "qa java"
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr ;

	

.left-block-item

	


.binary-item
	grid-area: binary;
	&:hover
		.binary-item__cover
			display: none;
		.binary-item__content
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			background-color: #fff;

		
	
	&__cover
		background-color: #fff;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

	&__content
		display: none;
		

	&__button
		background-color: #5c4ceb; 
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;

.qa-item
	grid-area: qa;
	background-color: red;

.js-item
	grid-area: js;
	background-color: yellow;

.java-item
	grid-area: java;
	background-color: green;

.content-right-block
	flex: 1 1 50%
	display: grid;
	grid-template-areas: "php php php" "php php php" "php php php" "dotnet dotnet events" "dotnet dotnet events" "dotnet dotnet blog" "dotnet dotnet blog" "dotnet dotnet contacts"
	grid-template-rows: repeat(8, 1fr);;
	grid-template-columns: 1fr 1fr 1fr ;




.right-block-item


.php-item
	grid-area: php;

.dotnet-item
	grid-area: dotnet;

.events-item
	grid-area: events;

.blog-item
	grid-area: blog;

.contacts-item
	grid-area: contacts;

