.content
	margin-top: 40px

.content-wrapper
	height: 80vh
	display: flex


.content-left-block
	flex: 1 1 50%
	display: grid
	grid-template-areas: "binary js" "binary js" "qa js" "qa java"
	grid-template-rows: 1fr 1fr 1fr 1fr
	grid-template-columns: 1fr 1fr 

	

.left-block-item
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)


.binary-item
	grid-area: binary
	
	&__cover
		display: flex
		background-color: #fff
		justify-content: center
		align-items: center

	&__content
		display: flex
		justify-content: center
		align-items: center
		background-color: #fff
		

	&__button
		background-color: #5c4ceb 
		border: none
		color: white
		padding: 15px 32px
		text-align: center
		text-decoration: none
		display: inline-block
		font-size: 16px

.qa-item
	grid-area: qa
	&__cover
		background-color: #52bf77
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 50px
		
	&__content
		display: flex
		justify-content: center
		align-items: center
		background: #fff
.js-item
	grid-area: js
	&__cover
		background-color: #f7cf69
		font-weight: bold
		display: flex
		justify-content: flex-end
		align-items: flex-end
		font-size: 70px

	&__content
		display: flex
		justify-content: flex-start
		align-items: center
		background: #fff

.java-item
	grid-area: java

	&__cover
		background-color: #e12b4c
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 50px
		
	&__content
		display: flex
		justify-content: flex-start
		align-items: center
		background: #fff
	

.content-right-block
	flex: 1 1 50%
	display: grid
	grid-template-areas: "php php php" "php php php" "php php php" "dotnet dotnet events" "dotnet dotnet events" "dotnet dotnet blog" "dotnet dotnet blog" "dotnet dotnet contacts"
	grid-template-rows: repeat(8, 1fr)
	grid-template-columns: 1fr 1fr 1fr 




.right-block-item
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)


.php-item
	grid-area: php
	&__cover
		background-color: #8893c0
		color: #000
		display: flex
		justify-content: center
		align-items: center
		font-size: 50px
		font-style: italic

	&__content
		display: flex
		justify-content: center
		align-items: center
		background: #fff
		
	

.dotnet-item
	grid-area: dotnet
	&__cover
		background-color: #642077
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 70px
		

	&__content
		display: flex
		justify-content: center
		align-items: center
		background: #fff

.events-item
	grid-area: events
	&__cover
		background-color: #2d99ff
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 14px
		

	&__content
		display: flex
		justify-content: center
		align-items: center
		background: #fff

.blog-item
	grid-area: blog
	&__cover
		background-color: #0443a3
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 14px
		

	&__content
		display: flex
		justify-content: center
		align-items: center
		background: #fff

.contacts-item
	grid-area: contacts
	&__cover
		background-color: #00265f
		color: #fff
		display: flex
		justify-content: center
		align-items: center
		font-size: 14px
		

	&__content
		display: flex
		justify-content: space-around
		align-items: center
		background: #fff

.contacts-item__social-icon
	&:hover
		fill: blue
