
.header
	height: 60px
	display: flex
	#logo 
		display: inline-block
		width: 115px
		height: 33px
		cursor: pointer
		a
			color: #000
			text-decoration: none

.header-body
	background-color: #fff
	flex: 1 1 100%
	display: flex
	justify-content: space-between
	align-items: center
	animation-name: my-animation
	animation: my-animation 1s linear 1 
	@keyframes my-animation 
		0%
			height: 0px
		100%
			height: 60px 
	&__logo

	&__user
		

.header-user
	display: flex
	justify-content: center
	align-items: center
	&__notification
		margin-right: 10px
		

	&__notification-icon
		height: 24px
		width: 24px
		fill: grey
		&:hover
			fill: #000


	&__panel
		


.user-panel

	&__wrapper
		margin-right: 5px
		width: 40px
		height: 40px
		background-color: #f8991c
		color: #fff
		line-height: 1
		user-select: none
		text-align: center
		border-radius: 50%
		display: flex
		justify-content: center
		align-items: center
		position: relative
		&:hover
			background-color: #df830b
		input
			display: block
			width: 100%
			height: 100%
			position: absolute
			cursor: pointer
			opacity: 0
			z-index: 2
			&:checked ~ ul
				display: block
			

	&__name


	&__menu
		display: none
		width: 150px
		top: 105%
		right: 0
		position: absolute
		background-color: #fff
		color: #000
		list-style: none
		z-index: 9
		
	

.menu-item
	margin-bottom: 5px
	&:hover
		background-color: #b8aea1


.menu-header
	color: #969696
	&:hover
		background-color: #fff


