.messages
	position: absolute 
	bottom: 30px 
	right: 20px 

.message
	margin-bottom: 10px 
	height: 30px 
	width: 170px 
	opacity: 0.5 
	&--error
		background-color: red 
	&--success
		background-color: green 
	&--warning
		background-color: yellow 