@import _header
@import _content
@import _fliper
@import _footer
@import _message


*
	font-family: "Roboto","Helvetica","Arial",sans-serif
	margin: 0
	padding: 0
	box-sizing: border-box
body
	background-color: #f8f9fc

.container
	margin: 0 auto
	max-width: 1170px
	@media (max-width: 768px)
		


.card-size
	height: 100%
	width: 100%
	overflow: auto
	
